button{
   
    all:unset;
    width:200px;
    height: 60px;
    border-radius: 50px;
    margin-right:10px;
    text-align: center;
    cursor: pointer;
}

div{
    display: flex;
    justify-content: center;
  
    
}

.cancel {
    background-color: tomato;
    transition: box-shadow 250ms ease-in;
    
}

.cancel:hover{
    box-shadow: 0 10px 16px rgba(255, 73, 73,0.35);
}

.confirm{
    background-color:steelblue;
   
}
.confirm:hover{
    box-shadow: 0 10px 16px rgba(170, 170, 170,0.35);
}