*{
    margin:0;
    box-sizing: border-box;

}

body{
    height:100vh;
    background-color: #e5e5e5;
    display:flex;
    justify-content: center;
    align-items: center;
}

.loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loading-title{
    font-family: 'Muli';
    font-size: 18px;
    line-height: 1.333;
    font-weight: 400px;
    margin-bottom: 20px;
    animation: fliker 2s infinite alternate;
}

.progress-bar{
    background-color:#e5eaef;
    width:300px;
    height:12px;
    border-radius: 30px;
    position: relative;

}
.progress-bar-gauge{
    width:0px;
    height: 12px;
    background-color: #13ce66;
    border-radius: 30px;
    animation: loading-bar 3s infinite;
    position: absolute;

   
}
.loading{
    width:500px;
    height:216px;
    background-color: #ffffff;
}
@keyframes loading-bar{
    0%{
        width:0;
        opacity: 1;
    }
    90%{
        width:100%;
        opacity:1;

    }
    100%{
        width:100%;
        opacity:0;
    }

}

@keyframes fliker{
   from{
       opacity:1;
   }
   to{
       opacity:0;
   }
    
}