*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: "Poppins", sans-serif;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 100vh;
    /* viewport height */
    background-color: #ff4949;
    font-size:30px;
    font-weight: 700;
    color:#fff;

}

.box::after{
    content:"Mobile";

}
@media screen and (min-width:576px){
    
    /* css 선언 */
   .box{
    background-color: #ff5216;
   }
   .box::after{
    content: "Landscape Mobile";
   }

}

@media screen and (min-width: 768px){
    .box{
        background-color: #ffc82c;

    }
    .box::after{
        content:"Tablet";
    }
}