  
* {
    box-sizing: border-box;
    margin: 0;
  }

button{
    all:unset;
}

.sr-only{
    display: none;
}

body {
    font-family: "DM Sans", sans-serif;
    color: #2b292d;
    letter-spacing: -0.01em;
  }


#title{
    font-weight: bold;
}
.Landing{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items:center;
    align-content: center;
    text-align: center;
    
    width:100%;
    height: 568px;
    background-color:#FDDED8;

}

.Landing-title{
    font-weight: bold;
    font-size:40px;
    font-weight: bold;

}

.Landing-description{
    font-size:16px;
    margin-bottom:24px;
}

.Landing-button-group button{
    width:140px;
    height: 48px;
    text-align: center;
}

.button-apply{
    background-color: #3040C4;
    color:#fff;
    margin-right:8px;
}

.button-lean{
    background-color:#fff;
    color:#3040C4;
}

.service{
    width:100%;
    height: 496px;
    background-color:#f4f5f7;
    padding:80px 15px;
}


.service-title{
    font-weight: bold;
    font-size:22px;
    font-style:bold;
    margin-bottom: 16px;
    letter-spacing: -0.04em;
}

.service-description{
    margin-bottom:40px;
    letter-spacing: -0.01em;
}

.section-category{
    margin-bottom: 3px;;
    font-size:16px;
    color:#009b4d;
    letter-spacing: -0.03em;
    
}

.curriculum .section-category{
    color:#0189D1;
}

.section-title{
    font-weight: bold;
    font-size:34px;
    margin-bottom: 24px;
}

.section-description{
    font-size: 16px;
    margin-bottom:32px;
    letter-spacing: -0.01em;

}

.program{
    padding:80px 15px;
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: flex-start;
    width:100%;
    height: 1377px;
}

.program-box{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width:290px;
    height: 291px;
    margin-bottom: 20px;
    border-radius: 50px;
    background: #fafafa;
    box-shadow:  5px -5px 9px #f3f3f3, 
                -5px 5px 9px #ffffff;
    
}

.box-image{
    width:140px;
    height: 195px;
    margin-bottom: 16px;
}

.box-title{
    font-size:18px;
    font-weight: bold;
}


.curriculum{
    padding:80px 15px;
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: flex-start;
    width:100%;
    height: 706px;
}

.curriculum-description{
    font-size:16px;
    margin-bottom: 32px;
    
}

.curriculum-detail{
    margin-bottom: 40px;
}


button.curriculum-button {
    width:140px;
    font-size:15px;
    background-color: #3040c4;
    color:#fff;
    text-align: center;  
    padding:14px 0 ;
    margin-bottom: 40px;
    
}

.banner{
    width:100%;
    height: 588px;
    padding:40px 15px;
    background-color:#F2F8FA;
}
.banner-title{
    font-size:32px;
    font-weight: bold;
}

.banner-image{
    widows: 290px;
    height: 240px;
    margin-bottom:16px;
}

.banner-description{
    font-size:15px;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: center;

}

.banner-input{
    width:290px;
    height: 48px;
    margin-bottom:8px;
    border:0px #fff solid;
}
.banner-button{
    width:290px;
    height: 48px;
    text-align: center;
    border-radius: 2px;
    border:1px solid #3040C4;
    background-color:#3040C4;
    color:#fff;
    margin-bottom:8px;
}

.check{
    color:#7B7B7E;
    font-size:13px;
}

.footer{
    width:100%;
    height: 136px;
    
}

.center{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

footer > a {
    font-size:14px;
    color:#807F81;

    
}

@media screen and (min-width: 768px) {
    .Landing{
        height: 568px;
        padding:120px 255px;
    }

    .Landing-title{
        width:930px;
        font-size: 70px;
        text-align: center;
        line-height: 72px;
        letter-spacing: -0.05em;
    }

    .Landing-description{
        font-size:22px;
    }
    .Landing-button-group > button{
        font-weight: bold;
    }

    .service{
        height:340px;
        padding-top:80px;
        padding-bottom: 80px;
    }

    .service-title {
        font-size:26px;
        font-style:normal;
    }

    .service-description{
        font-size:22px;
        font-weight: normal !important;
        line-height: 32px;
        letter-spacing: -0.01em;
    }

    .program{
        height: 827px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

    }

    .program-box{
        width:290px;
        height: 299px;
    }

    .section-category{
        font-weight: bold;
        font-size: 22px;
        line-height: 24px;
        text-align: center;
        letter-spacing: -0.01em;
    }

    .section-title{
        font-size: 56px;
        line-height: 56px;
        text-align: center;
        letter-spacing: -0.03em;

    }

    .section-description{
        width: 770px;
        left: calc(50% - 770px/2);
        top: 264px;
        line-height: 32px;
        /* or 145% */
        text-align: center;
        letter-spacing: -0.01em;
        height: 96px;
    }

    .curriculum{
        height: 728px;
        padding:15px 255px;
    }

    .curriculum-box{
        widows: 450px;
        height: 403px;;
        display:flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
    }
    .curriculum-box:after{
        width:450px;
        height: 450px;
        background-color: steelblue;
    }
    
}